<% posts.each do |post| %>
  <h1><a href="<%= path_show(post.id) %>"><%= post.title %></a></h1>
  <p>
    <%= post.body %>
  </p>
  <%= link_delete(post.id) %> | <%= link_edit(post.id) %>
  <hr />
<% end %>

<%= link_create %>
